animation-hover()
  &:hover
    opacity 0.7
    transition opacity 0.05s linear

button-animation-hover()
  &:hover
    background #F6FFAC
    transition opacity 0.05s linear

animation-ticker(delay=0s)
  will-change opacity
  animation-name ticker
  animation-duration .6s
  animation-fill-mode forwards
  animation-direction normal
  animation-delay delay
  animation-timing-function cubic-bezier(0.100, 0.445, 0.355, 1.000)

@keyframes ticker
  0%
    opacity 0
  10%
    opacity .5
  13%
    opacity .3
  30%
    opacity .3
  50%
    opacity .7
  53%
    opacity .5
  100%
    opacity 1

// progress-bar
animation-progress-bar()
  will-change transform
  animation-name progress-bar
  animation-duration 0.7s
  animation-fill-mode forwards
  animation-direction normal
  animation-timing-function cubic-bezier(0.100, 0.445, 0.355, 1.000)
  animation-iteration-count infinite

@keyframes progress-bar
  0%
    transform-origin top left
    transform scaleX(0)
  50%
    transform-origin top left
    transform scaleX(1)
  75%
    transform-origin top right
    transform scaleX(1)
  100%
    transform-origin top right
    transform scaleX(0)

// scroll-label
animation-scroll-label()
  animation-name scroll-label
  animation-duration 2.0s
  animation-fill-mode forwards
  animation-direction normal
  animation-timing-function cubic-bezier(0.420, 0.000, 0.580, 1.000)
  animation-iteration-count infinite

@keyframes scroll-label
  0%
    opacity 0
    transform translate3d(0px, 5px, 0px)
  15%
    opacity 1
    transform translate3d(0px, 0px, 0px)
  75%
    opacity 1
    transform translate3d(0px, 0px, 0px)
  100%
    opacity 0
    transform translate3d(0px, 5px, 0px)

// scroll-icon
animation-scroll-icon()
  animation-name scroll-icon
  animation-duration 2.0s
  animation-fill-mode forwards
  animation-direction normal
  animation-timing-function cubic-bezier(0.075, 0.82, 0.165, 1)
  animation-iteration-count infinite

@keyframes scroll-icon
  0%
    transform-origin top left
    transform scaleY(0)
  50%
    transform-origin top left
    transform scaleY(1)
  75%
    transform-origin bottom left
    transform scaleY(1)
  100%
    transform-origin bottom left
    transform scaleY(0)

// scroll-bounce
animation-scroll-bounce()
  animation-name scroll-bounce
  animation-duration 6s
  animation-fill-mode forwards
  animation-direction normal
  animation-iteration-count infinite

@keyframes scroll-bounce
  0%
    margin -30px 0 0 0
    opacity: 0
    animation-timing-function: ease-out
  10%
    margin 0px 0 0 0
    opacity: 1
  90%
    margin 0px 0 0 0
    opacity: 1
    animation-timing-function: ease-in
  95%
    margin 14px 0 0 0
    opacity: 0
  100%
    margin 14px 0 0 0
    opacity: 0

// scroll-text
animation-scroll-text()
  animation-name scroll-text
  animation-duration 6s
  animation-fill-mode forwards
  animation-direction normal
  animation-iteration-count infinite

@keyframes scroll-text
  0%
    opacity: 0
  10%
    opacity: 0
  10.5%
    opacity: 1
  11%
    opacity: 0
  11.5%
    opacity: 1
  12%
    opacity: 0
  12.5%
    opacity: 1
  13%
    opacity: 0
  13.5%
    opacity: 1

  84.5%
    opacity: 1
  85%
    opacity: 0
  85.5%
    opacity: 1
  86%
    opacity: 0
  86.5%
    opacity: 1
  87%
    opacity: 0
  87.5%
    opacity: 1
  88%
    opacity: 0
  100%
    opacity: 0

// arrow-bounce
animation-arrow-bounce()
  animation-name arrow-bounce
  animation-duration 1s
  animation-fill-mode forwards
  animation-direction normal

@keyframes arrow-bounce
  20%, 60%, 100%
    margin 0
  0%
    margin 0 10px 0 0
  30%
    margin 0 4px 0 0

// click-ripple
animation-click-ripple()
  overflow hidden
  position relative

  &:after
    content ''
    position absolute
    top 50%
    left 50%
    margin -100px 0 0 -100px
    width 200px
    height 200px
    border-radius 50%
    opacity 0
    pointer-events none
    background #fff

  &.active:after
    animation-name click-ripple
    animation-duration 0.4s
    animation-timing-function cubic-bezier(0.420, 0.000, 0.580, 1.000)
    animation-fill-mode forwards

@keyframes click-ripple
  0%
    transform scale3d(0.3, 0.3, 1)
  25%,50%
    opacity 0.1
  100%
    opacity 0
    transform scale3d(1.2, 1.2, 1)

// prev-icon
animation-prev-icon()
  animation-name prev-icon
  animation-duration 0.6s

@keyframes prev-icon
  0%
    opacity 1
    margin-left 0
  30%
    opacity 0
    margin-left -7px
  60%
    opacity 0
    margin-left 7px
  100%
    opacity 1
    margin-left 0

// next-icon
animation-next-icon()
  animation-name next-icon
  animation-duration 0.6s

@keyframes next-icon
  0%
    opacity 1
    margin-left 0
  30%
    opacity 0
    margin-left 7px
  60%
    opacity 0
    margin-left -7px
  100%
    opacity 1
    margin-left 0

// preload
animation-preload()
  transform-origin 50% 100%
  animation-name preload-animation
  animation-duration 2.0s
  animation-fill-mode both
  animation-direction normal
  animation-iteration-count infinite

@keyframes preload-animation
  0%
    transform scale(1, 0.98) skew(0, 0)
    animation-timing-function ease-out
  25%
    transform scale(1, 1) skew(-3deg, 0)
    animation-timing-function ease-in
  50%
    transform scale(1, 0.98) skew(0, 0)
    animation-timing-function ease-out
  75%
    transform scale(1, 1) skew(3deg, 0)
    animation-timing-function ease-in
  100%
    transform scale(1, 0.98) skew(0, 0)
    animation-timing-function ease-out

// scrollEffect-vertical
scrollEffect-vertical(distance = 50, duration = 0.8, easing = cubic-bezier(0.030, 0.825, 0.440, 1.000), delay = 0)
  opacity 0
  backface-visibility hidden
  transform translate3d(0px, (distance)px, 0px)
  transition transform (duration)s (easing) (delay)s, opacity 0.5s cubic-bezier(.25,.25,.75,.75) (delay / 1.2)s
  will-change opacity, transform

scrollEffect-verticalShow()
  opacity 1
  backface-visibility hidden
  transform translate3d(0px, 0px, 0px)

// scrollEffect-horizontal
scrollEffect-horizontal(delay = 0, distance = 50)
  opacity 0
  backface-visibility hidden
  transform translate3d((distance)px, 0px, 0px)
  transition transform 0.8s cubic-bezier(0.030, 0.825, 0.440, 1.000) (delay)s, opacity 0.5s cubic-bezier(.25,.25,.75,.75) (delay)s
  will-change opacity, transform

scrollEffect-horizontalShow()
  opacity 1
  backface-visibility hidden
  transform translate3d(0px, 0px, 0px)

// scrollEffect-alpha
scrollEffect-alpha(delay = 0)
  opacity 0
  transform translate3d(0px, 0px, 0px)
  backface-visibility hidden
  will-change opacity
  transition opacity 0.5s cubic-bezier(.25,.25,.75,.75) (delay)s

scrollEffect-alphaShow()
  opacity 1

// hamburger-close
animation-hamburger-close()
  span
    &.line1, &.line2, &.line3
      animation-duration 0.4s
      animation-timing-function cubic-bezier(0.165, 0.840, 0.440, 1.000)
      animation-fill-mode forwards

    &.line1
      animation-name hamburger-close1

    &.line2
      animation-name hamburger-close2

    &.line3
      animation-name hamburger-close3

@keyframes hamburger-close1
  0%
    top 60px
  50%
    top 44px
  100%
    top 44px
    transform rotate(0deg)

@keyframes hamburger-close2
  0%
    opacity 0
  50%
    opacity 1
  100%
    opacity 1

@keyframes hamburger-close3
  0%
    top 60px
  50%
    top 76px
  100%
    top 76px
    transform rotate(0deg)

// hamburger-open
animation-hamburger-open()
  span
    &.line1, &.line2, &.line3
      animation-duration 0.4s
      animation-timing-function cubic-bezier(0.165, 0.840, 0.440, 1.000)
      animation-fill-mode forwards

    &.line1
      animation-name hamburger-open1

    &.line2
      animation-name hamburger-open2

    &.line3
      animation-name hamburger-open3

@keyframes hamburger-open1
  0%
    top 44px
    left 28px
    width 50px
  50%
    top 60px
  100%
    top 60px
    left 18px
    width 70px
    transform rotate(45deg)

@keyframes hamburger-open2
  0%
    opacity 1
  50%
    opacity 0
  100%
    opacity 0

@keyframes hamburger-open3
  0%
    top 76px
    left 28px
    width 50px
  50%
    top 60px
  100%
    top 60px
    left 18px
    width 70px
    transform rotate(-45deg)
