box()
  padding 0 $SIDE_MARGIN

round-box()
  padding $SIDE_MARGIN
  border-radius 20px

box-outline()
  border solid 2px white

circle($size)
  width $size
  height $size
  line-height $size
  border-radius ($size/2)
  text-align center