//html.mobile
//  .btn
//    display block
//    text-align center
//    width 400px
//    padding 20px 0px
//    font-size 32px
//    background-color #888
//    color #FFF
//    margin-top 20px
//
//html.pc
//  .btn
//    display block
//    text-align center
//    width 200px
//    padding 20px 0px
//    font-size 16px
//    background-color #888
//    color #FFF
//    margin-top 20px


// round buttom
.button
    width 100%
    text-align center
    .btn
        transition .1s linear 
        cursor pointer
        border solid #fffd66 7px
        background #ffff2c
        width 516px
        height 114px
        margin 0 auto
        display inline-block
        border-radius 60px
        font-size 44px
        font-weight 700

        .btn_text
            position absolute
            transition .1s linear 
            color #000
        .btn_text_on
            position absolute
            transition .1s linear
            opacity 0
    //灰色
    &.gray
      .btn
        background #a6a6a6
        border solid #a6a6a6 7px

    // プレーンテキスト
    &.textBtn
      .btn
        position relative

        .btn_text, .btn_text_on
          width 502px
          height 100px
          display block
          font-size 44px
          text-align center
          line-height 100px
          font-weight 700
          position absolute
          top 0
          left 0

        .btn_text
          color #000

        .btn_text_on
          color #fff
        

.button-off
    width 100%
    text-align center
    .btn
        background rgba(255,255,255,0.5)
        width 516px
        height 114px
        margin 0 auto
        display inline-block
        border-radius 60px


.pc
    .button
        .btn:hover
            background rgba(0,0,0,0.5)
            .btn_text
                opacity 0
                color #FFF
            .btn_text_on
                opacity 1

.mobile
    .button
        .btn:active
            background rgba(0,0,0,0.5)
            .btn_text
                opacity 0
                color #FFF
            .btn_text_on
                opacity 1

.ie
  .button
  // プレーンテキスト
    &.textBtn
      .btn
        .btn_text, .btn_text_on
          line-height 120px