/// LAYOUT
$MIN_WINDOW_WIDTH = 1280px
$SP_WINDOW_WIDTH = 750px

$min-height = 670px
$headerH = 52px

/// Z-INDEX
$FLASH_Z_INDEX = 110000
$GDPR_Z_INDEX = 100000
$EMERGENCY_Z_INDEX = 50000
$PRELOAD_Z_INDEX = 40000
$OVERLAY_Z_INDEX = 30000
$GLOBALMENU_ZINDEX = 20000
$MODAL_ZINDEX = 12000
$HEADER_ZINDEX = 10000
$KV_ZINDEX = 9000
$MAIN_ZINDEX = 7000
$FOOTER_ZINDEX = 6000
$BACKGROUND_ZINDEX = 5000

/// COLOR
$BG_COLOR = #fcdfd9
$BASE_COLOR = #ffffff
$PRIMARY_COLOR = #E1FD00
$SECOUNDRY_COLOR = #B7B7B7
$THRDRY_COLOR = #080808
$DISABLE_COLOR = #3D3D3D
$HOVER_COLOR = #F6FFAC

/// SNS COLOR
$TWITTER_COLOR = rgba(85, 172, 238, 1)
$TWITTER_COLOR_1 = rgba(85, 172, 238, 1)
$TWITTER_COLOR_2 = rgba(41, 47, 51, 1)
$TWITTER_COLOR_3 = rgba(102, 117, 127, 1)
$TWITTER_COLOR_4 = rgba(204, 214, 221, 1)
$TWITTER_COLOR_5 = rgba(225, 232, 237, 1)

$FACEBOOK_COLOR = rgba(64, 89, 152, 1)
$FACEBOOK_COLOR_1 = rgba(64, 89, 152, 1)
$FACEBOOK_COLOR_2 = rgba(173, 185, 211, 1)
$FACEBOOK_COLOR_3 = rgba(237, 240, 245, 1)

$LINE_COLOR = rgba(0, 185, 0, 1)

/// TEXT

