//@import 'https://use.typekit.net/lgt2qtx.css'
@import "yakuhanjp.styl"
  
// @font-face
//   font-family 'Noto Sans Japanese'
//   font-style normal
//   font-weight 400
//   src:assetPath('fonts/NotoSansCJKjp-Regular.woff') format('woff'),
//       assetPath('fonts/NotoSansCJKjp-Regular.ttf')  format('truetype'),
//       assetPath('fonts/NotoSansCJKjp-Regular.eot') format('embedded-opentype')

// @font-face
//   font-family: 'Noto Sans Japanese'
//   font-style normal
//   font-weight 500
//   src:assetPath('fonts/NotoSansCJKjp-Medium.woff') format("woff"),
//       assetPath('fonts/NotoSansCJKjp-Medium.ttf') format("truetype"),
//       assetPath('fonts/NotoSansCJKjp-Medium.eot') format("embedded-opentype")

// @font-face
//   font-family: 'Noto Sans Japanese'
//   font-style normal
//   font-weight 700
//   src:assetPath('fonts/NotoSansBold.woff') format("woff"),
//       assetPath('fonts/NotoSansBold.ttf') format("truetype"),
//       assetPath('fonts/NotoSansBold.eot') format("embedded-opentype")

// @font-face
//   font-family: 'Noto Sans Japanese'
//   font-style normal
//   font-weight 900
//   src:assetPath('fonts/NotoSansBlack.woff') format("woff"),
//       assetPath('fonts/NotoSansBlack.ttf') format("truetype"),
//       assetPath('fonts/NotoSansBlack.eot') format("embedded-opentype")

// @font-face
//   font-family: 'Noto Sans'
//   font-style normal
//   font-weight 400
//   src:assetPath('fonts/noto-sans-v9-latin-regular.woff') format("woff"),
//       assetPath('fonts/noto-sans-v9-latin-regular.woff2') format("woff2"),
//       assetPath('fonts/noto-sans-v9-latin-regular.ttf') format("truetype"),
//       assetPath('fonts/noto-sans-v9-latin-regular.eot') format("embedded-opentype")

// @font-face
//   font-family: 'Noto Sans'
//   font-style bold
//   font-weight 700
//   src:assetPath('fonts/noto-sans-v11-latin-700.woff') format("woff"),
//       assetPath('fonts/noto-sans-v11-latin-700.woff2') format("woff2"),
//       assetPath('fonts/noto-sans-v11-latin-700.ttf') format("truetype"),
//       assetPath('fonts/noto-sans-v11-latin-700.eot') format("embedded-opentype")

// @font-face
//   font-family: 'Poppins'
//   font-style normal
//   font-weight 400
//   src:assetPath('fonts/Poppins-Medium.woff') format("woff"),
//       assetPath('fonts/Poppins-Medium.ttf') format("truetype"),
//       assetPath('fonts/Poppins-Medium.eot') format("embedded-opentype")

// @font-face
//   font-family: 'Roboto Condensed'
//   font-style normal
//   font-weight 400
//   src:assetPath('fonts/RobotoCondensed-Regular.woff') format("woff"),
//       assetPath('fonts/RobotoCondensed-Regular.ttf') format("truetype"),
//       assetPath('fonts/RobotoCondensed-Regular.eot') format("embedded-opentype")

// @font-face
//   font-family: 'Roboto Condensed'
//   font-style bold
//   font-weight 700
//   src:assetPath('fonts/RobotoCondensedBold.woff') format("woff"),
//       assetPath('fonts/RobotoCondensedBold.ttf') format("truetype"),
//       assetPath('fonts/RobotoCondensedBold.eot') format("embedded-opentype")