$button-down-arrow = url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNC4xNDIiIGhlaWdodD0iOC4xMzIiIHZpZXdCb3g9IjAgMCAxNC4xNDIgOC4xMzIiPjxkZWZzPjxzdHlsZT4uYXtmaWxsOiNmZmY7fTwvc3R5bGU+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC04MjQuMyAtNjU3LjIzOSkiPjxyZWN0IGNsYXNzPSJhIiB3aWR0aD0iMTAiIGhlaWdodD0iMS41IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4MzEuMzcxIDY2NS4zNykgcm90YXRlKC0xMzUpIi8+PHJlY3QgY2xhc3M9ImEiIHdpZHRoPSIxMCIgaGVpZ2h0PSIxLjUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDgzMC4zMSA2NjQuMzEpIHJvdGF0ZSgtNDUpIi8+PC9nPjwvc3ZnPg==")
