html, :root, body
  width 100%
  background-color $BG_COLOR

body
  antialias()
  color $BASE_COLOR

  a
    color $BASE_COLOR

  &.ja
    font-ja()
    font-weight 400

  &.en
    font-en()
    font-weight 400

#container
  position relative
  width 100%
  #content
    width 100%
    // overflow hidden
  #main
    width 100%
    margin 0 auto
    min-height 100%
    position relative
    z-index $MAIN_ZINDEX
    // overflow hidden

  #footer
    z-index $FOOTER_ZINDEX

html.pc
  overflow-y scroll
  body
    .sp
      display none

  &.ie, &.edge
    body
      overflow hidden

  #main
    font-size 18px
    min-width $MIN_WINDOW_WIDTH

html.mobile
  body
    // overflow-x hidden

    .dt
      display none

    #main
      font-size 30px

button
  outline none 

a
  cursor: pointer