$VIEWPORT_WIDTH = 750

bgimage($url, $width, $height)
  background-image $url
  background-repeat no-repeat
  background-size $width $height
  background-position center
  width $width
  height $height

assetPath($url)
  url($cdn + $url)

px($num)
  ($num/$VIEWPORT_WIDTH*100)vw

css-image-button($width, $height)
  width $width
  height $height
  display block


