
//--- PCレイアウト
.pc .modal
  display block
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  z-index $MODAL_ZINDEX
  .modal-bg
    display block
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background-color rgba(0,0,0,0.6)
  .modal-content
    display block
    position absolute
    top 0
    bottom 0
    right 0
    left 0
    margin auto
    width 500px
    height 400px
    background-color #FFF
    .modal-btn-close
      position absolute
      width 30px
      height 30px
      top -30px
      right 0px
      background-color #000

//--- モバイルレイアウト
.mobile .modal
  display block
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  z-index $MODAL_ZINDEX
  .modal-bg
    display block
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background-color rgba(0,0,0,0.6)
  .modal-content
    display block
    position absolute
    top 0
    bottom 0
    right 0
    left 0
    margin auto
    width 500px
    height 400px
    background-color #FFF
    .modal-btn-close
      position absolute
      width 30px
      height 30px
      top -30px
      right 0px
      background-color #000
    
