@import nib

reset()
  global-reset()
  reset-html5()
  img, button, a, a:hover
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    -webkit-touch-callout: none

  reset-body()
  reset-box-model()
  reset-font()
  reset-table()
  reset-table-cell()


reset()