@import '/common/css/yakuhanjp.styl'
@import '/common/css/fonts.styl'

antialias()
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

font-ja()
  font-family: noto-sans, noto-sans, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic",Meiryo UI,Meiryo,"メイリオ","ＭＳ Ｐゴシック",sans-serif

font-en()
  font-weight 400
  font-family: noto-sans, 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif

font-enB()
  font-weight 700
  font-family: noto-sans, 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif

font-primaryB()
  font-family: bebas-neue-pro, sans-serif
  font-weight: 600

font-en-bebasB()
  font-family: bebas-neue-pro, sans-serif
  font-weight: 600

font-en-tradeB()
  font-family: trade-gothic-next-condensed, sans-serif
  font-weight: 700

//:root, html, body, div, p, a, button, span
//  fontM()
//  text()