.swiper-pagination-bullet
  background #414141
  opacity 1


.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
    margin: 0 6px;

.swiper-pagination-bullet-active
  background #fff

.delayAnimation
  will-change opacity
  opacity 0
  transition opacity .7s linear
  &.show
    opacity 1