/* ===================================================
*
*  Webfonts Title: Yaku Han JP
*  Author: Qrac
*  URL: https://twitter.com/Qrac_jp
*  "Noto Sans CJK JP" licensed under the SIL Open Font License
*  https://www.google.com/get/noto/#/
*
=================================================== */
@import 'cdn'

@font-face {
  font-family: 'YakuHanJP';
  font-style: normal;
  font-weight: 100;
  src: assetPath('assets/fonts/YakuHanJP/YakuHanJP-Thin.woff2') format('woff2'),
  assetPath('assets/fonts/YakuHanJP/YakuHanJP-Thin.woff') format('woff'),
  assetPath('assets/fonts/YakuHanJP/YakuHanJP-Thin.eot');
}
@font-face {
  font-family: 'YakuHanJP';
  font-style: normal;
  font-weight: 200;
  src: assetPath('assets/fonts/YakuHanJP/YakuHanJP-Light.woff2') format('woff2'),
  assetPath('assets/fonts/YakuHanJP/YakuHanJP-Light.woff') format('woff'),
  assetPath('assets/fonts/YakuHanJP/YakuHanJP-Light.eot');
}
@font-face {
  font-family: 'YakuHanJP';
  font-style: normal;
  font-weight: 300;
  src: assetPath('assets/fonts/YakuHanJP/YakuHanJP-DemiLight.woff2') format('woff2'),
  assetPath('assets/fonts/YakuHanJP/YakuHanJP-DemiLight.woff') format('woff'),
  assetPath('assets/fonts/YakuHanJP/YakuHanJP-DemiLight.eot');
}
@font-face {
  font-family: 'YakuHanJP';
  font-style: normal;
  font-weight: 400;
  src: assetPath('assets/fonts/YakuHanJP/YakuHanJP-Regular.woff2') format('woff2'),
  assetPath('assets/fonts/YakuHanJP/YakuHanJP-Regular.woff') format('woff'),
  assetPath('assets/fonts/YakuHanJP/YakuHanJP-Regular.eot');
}
@font-face {
  font-family: 'YakuHanJP';
  font-style: normal;
  font-weight: 500;
  src: assetPath('assets/fonts/YakuHanJP/YakuHanJP-Medium.woff2') format('woff2'),
  assetPath('assets/fonts/YakuHanJP/YakuHanJP-Medium.woff') format('woff'),
  assetPath('assets/fonts/YakuHanJP/YakuHanJP-Medium.eot');
}
@font-face {
  font-family: 'YakuHanJP';
  font-style: normal;
  font-weight: 700;
  src: assetPath('assets/fonts/YakuHanJP/YakuHanJP-Bold.woff2') format('woff2'),
  assetPath('assets/fonts/YakuHanJP/YakuHanJP-Bold.woff') format('woff'),
  assetPath('assets/fonts/YakuHanJP/YakuHanJP-Bold.eot');
}
@font-face {
  font-family: 'YakuHanJP';
  font-style: normal;
  font-weight: 900;
  src: assetPath('assets/fonts/YakuHanJP/YakuHanJP-Black.woff2') format('woff2'),
  assetPath('assets/fonts/YakuHanJP/YakuHanJP-Black.woff') format('woff'),
  assetPath('assets/fonts/YakuHanJP/YakuHanJP-Black.eot');
}
