h1
  color #fff

body,h2,h3,p,span
  color #090909

::selection
  background #ed5230
  color #fff


#MemoApp
  min-height 1200px

// グロナビ
.GlobalNav
  position fixed
  z-index 100
  top 0
  left 0
  width 100%
  height 52px
  background #f7a531 //f7a531 ed5230
  border-bottom 1px solid #bdbdbd //ed5230
  overflow hidden

  .GlobalNav__title
    padding 0px 12px
    width 200px

    h1
      text-align left
      font-size 21px
      line-height 52px
      font-weight bold
      user-select none

// サイドナビ
.SideNav
  position fixed
  z-index 90
  top 0
  left 0
  width 320px
  height 100vh
  min-height 100vh
  padding-top 52px
  border-right 1px solid #bdbdbd
  background #b2b2b2
  overflow-y auto

  .SideNav__inner
    padding-bottom 52px


.MemoThumbnail
  cursor pointer
  border-bottom 1px solid #bdbdbd
  background #fff0e2

  &:hover
    background #fff

  &:last-child
    border-bottom none

.MemoList__creatNewBtn
  width 100%
  height 40px
  border none
  background #ff6161
  border-radius 0
  border-bottom 1px solid #bdbdbd
  outline none

  &:hover
    background #ff7575
    outline none
    border none
    border-bottom 1px solid #bdbdbd

.MemoThumbnail__container
  height: 70px
  padding 12px
  box-sizing border-box
  font-family: 'YakuHanJP'
  font-style: normal
  font-weight: 300
  //height 100%





.MemoThumbnail__container.selected
  background #fffefd

.MemoThumbnail__inner
  position relative
  height 100%

.MemoThumbnail__date
  position absolute
  top 0
  left 0
  font-weight: 100
  font-size 11px
  color #3a3a3a
  padding-bottom 6px
  text-align left

.MemoThumbnail__title
  position absolute
  top 20px
  left 0
  width 260px

  .MemoThumbnail__title__icon
    position absolute
    height 100%
    display inline-flex
    align-items center

    &:hover
      opacity 0.6


  input
    background transparent
    color #090909
    border none
    width 100%
    height 24px
    text-align left
    overflow hidden
    white-space nowrap
    font-weight 300
    font-size 18px
    text-overflow: ellipsis
    padding 0

  input:focus
    outline 0
    //border-color #e6b422
    border 1px solid #e6b422
    height 22px
    width 256px
    transform translateX(-2px)

//.MemoThumbnail__folder
.Folder
  min-height 51px

.FolderGroup
  border-top 1px solid #141414

.FolderLabel
  width 100%
  height 50px
  border-bottom 1px solid #141414
  display flex
  align-items center
  text-align center

  .FolderLabel__inner
    width 100%
    font-weight bold
    user-select none


#root
  width 100%
  margin 0 auto
  text-align center

.logo
  height 6em
  padding 1.5em
  will-change filter
  &:hover
    filter drop-shadow(0 0 2em #646cffaa)
  &.react
    &:hover
      filter drop-shadow(0 0 2em #61dafbaa)

@keyframes logo-spin
  from
    transform rotate(0deg)
  to
    transform rotate(360deg)


@media (prefers-reduced-motion: no-preference)
  a
    &:nth-of-type(2)
      .logo
        animation logo-spin infinite 20s linear

.card
  padding 2em

.read-the-docs
  color #888