@import "common/css/common.styl"

body
  margin 0
  display flex
  place-items center
  height 100vh

  #root
    font-family $FONT_FAMILY_JP
    color-scheme light dark
    font-synthesis none
    text-rendering optimizeLegibility
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    -webkit-text-size-adjust 100%